INFLUXDB_PASSWORD=iiot12345678
INFLUXDB_TOKEN=my-super-secret-admin-token
GRAFANA_PASSWORD=admin

# ---------- Gateway Core ----------
MQTT_BROKER_HOST="localhost"
MQTT_BROKER_PORT=1883
MQTT_TOPIC_PATTERN="iiot/+/telemetry"
MQTT_CLIENT_ID="iiot-gateway-core"

# ---------- InfluxDB ----------
INFLUXDB_URL="http://localhost:8086"
INFLUXDB_TOKEN="my-super-secret-admin-token"
INFLUXDB_ORG="iiot-org"
INFLUXDB_BUCKET="gateway-data"

LOG_LEVEL="INFO"

# ---------- Modbus RTU (STM32) ----------
MODBUS_ENABLED="false"
MODBUS_PORT="/dev/ttys001"
# MODBUS_PORT=COM4
MODBUS_BAUDRATE="9600"
MODBUS_SLAVE_ID='1'
MODBUS_POLL_INTERVAL="2.0"

# ---------- Serial (Arduino) ----------
SERIAL_ENABLED="true"
SERIAL_PORT="/dev/ttys002"
# SERIAL_PORT=COM3
SERIAL_BAUDRATE="9600"


APP_NAME=Python IoT Gateway
# DEBUG=True
# DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/iot_gateway

HOST=0.0.0.0
PORT=8000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=iotgateway
DB_USER=postgres
DB_PASSWORD=postgres

SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
